/* ========================
 table of contents
===========================

1. lastAdverts-section ==> Card
3- Responsive Design (media query)*/



/* ===============================
   1. lastAdverts-section ==> Card
================================== */

.card-last-adverts {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.16), 1px 1px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(93, 188, 252, 0.3);
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05));
    width: 15rem !important;
    height: 20rem;
    overflow: hidden;
}

.card-last-adverts img {
    width: 15rem !important;
    height: 20rem;
    object-fit: cover;
}

.light .card-last-adverts,
.light .card-last-adverts:hover {
    border: none;
}

.light .card-last-adverts:hover {
    background-color: rgba(246, 246, 246);
    cursor: pointer;
}

.card-last-adverts:hover {
    border: 1px solid var(--blue);
    cursor: pointer;
}

.card-last-adverts img {
    border-radius: 5px;
}

.card-last-adverts .box {
    padding: 1rem 0.4rem;
}

.card-last-adverts .box .title {
    color: var(--title);
    text-transform: capitalize;
}

.card-last-adverts .box .sub-title {
    color: var(--subtitle);
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 1.1rem;
}

.card-last-adverts .box .icons {
    justify-content: space-between;
}

.card-last-adverts .icon-github,
.card-last-adverts .icon-link {
    font-size: 1.2rem;
    color: var(--subtitle);
}

.card-last-adverts .icon-github:hover,
.card-last-adverts .icon-link:hover {
    font-size: 1.25rem;
    color: var(--icon-hover);
    cursor: pointer;
}

.card-last-adverts a.link {
    font-size: 0.9rem;
    color: var(--blue);
    margin-right: 12px;
}

@media (max-width: 1350px) {
    .card-last-adverts {

        width: 8rem !important;
        height: 13rem;
        margin: 2rem;
    }
}

@media (max-width: 600px) {
    .card-last-adverts {

        width: 5rem !important;
        height: 10rem;
        margin: 2rem;
    }
}